body {
    background-color: #e8f1fa;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #e8f1fa;
    z-index: 1020;
}

#cabecalho {
    border-bottom: 2px solid #ccc;
}

#btn_login{
    padding: 8px 16px;
    font-size: 1.25rem;
}

.nav-link {
    font-size: 1.5rem;
}

#logo {
    margin-top: -30px;
    height: 220px;
}

.carousel-inner {
    height: 600px;
}

.carousel-inner img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.legenda-carousel {
    text-align: center;
    font-size: 2rem;
    text-shadow: 4px 4px 5px black;
    color: #fff;
}

section {
    scroll-margin-top: 200px;
}

#promocoes h2,
#contato h2 {
    font-size: 3rem;
}

.valor {
    font-size: 1.5rem;
    
}

.card img {
    width: 100%;
    height: 300px;
}

.texto-contato {
    max-width: 520px;
    text-align: start;
}

.m {
    margin-top: 12px;
}

#form-contato {
    max-width: 350px;
    width: 80%;
    margin: 0 auto;
}

footer {
    border-top: 2px solid #ccc;
}

@media (max-width: 768px) {
    section {
        scroll-margin-top: 200px;
        
    }

    .menu-btn {
        margin: 0 auto;
    }

    .menu-btn a {
        font-size: 1.2rem;
    }

    #btn_login {
        font-size: 1.2rem;
        padding: 4px 8px;
    }

    #logo {
        height: 180px;
        margin: -30px auto;
    }

    .card, #carousel-inicio {
        max-width: 80%;
        margin: 0 auto;
    }

    #carousel-inicio {
        max-width: 80%;
    }
}